/Essais_ref/
/First_tests/
/old_essais_ref/
/*.emf
/*.tif
postproc/benchmarks_martensite.emf
postproc/benchmarks_martensite.tif
postproc/benchmarks_perlite.emf
postproc/benchmarks_perlite.tif
postproc/benchmarks_triboringC1II.emf
postproc/benchmarks_triboringC1II.tif
postproc/benchmarks_triboringC1III.emf
postproc/benchmarks_triboringC1III.tif
postproc/benchmarks_triboringC6III.emf
postproc/benchmarks_triboringC6III.tif
postproc/benchmarks_WEL.emf
postproc/benchmarks_WEL.tif
postproc/incertitude_perlite.emf
postproc/incertitude_perlite.tif
postproc/incertitude_triboring3.emf
postproc/incertitude_triboring3.tif
postproc/map.emf
postproc/map.tif
postproc/sample_massy.emf
postproc/sample_massy.tif
